.container{
	width: 1226px;
	margin-left: auto;
	margin-right: auto;
}
.clearfix:after{
	display: block;
	content: '';
	clear: both;
	height: 0;
	visibility: hidden;
}
.clearfix{
	*zoom: 1;
}
a{
	font-size: 12px;
	text-decoration: none;
	color:#b0b0b0;
}
a:hover{
	color: #fff;
}
.sep{
	color:#393d42;
	margin-left: 5px;
	margin-right: 5px;
}
.col1{
	width: 234px;
	float: left;
}
.col2{
	width: 978px;
	float: right;
}