/*抽取共同样式*/

/*top样式开始*/
	.top{
		height: 34px;
		background-color: #333;
	}
	.top .top-nav{
		float: left;
		width: 680px;
		height: 34px;
		/*background-color: green;*/
	}
	.top .top-nav .nav-list li{
		float: left;
		line-height: 34px;
	} 
	.top .user-info{
		float: right;
		width: 155px;
		height: 34px;
		line-height: 34px;
	}
	.top .user-info ul li{
		float: left;
	}
	.top .cart{
		float: right;
		width: 120px;
		height: 34px;
		background-color: #424242;
		color:#b0b0b0;
		line-height: 34px;
		text-align: center;
	}
	.top .cart:hover{
		background-color: #fff;

	}
	.top .cart:hover a{
		color:#ff6700;
	}
	.top .cart i{
		font-size: 20px;
	}
	.top .cart span{
		display: inline-block;
		vertical-align: 3px;
	}
/*top样式结束*/
/*header样式开始*/
	.header{
		/*height: 100px;*/
		/*overflow: hidden;*/
	}
	.header .logo{
		float: left;
		width: 55px;
		height: 55px;
		background-color: #ff6700;
		margin-top: 22px;
	}
	.header .header-nav{
		float: left;
		width: 661px;
		height: 100px;
		line-height: 100px;
		margin-left: 179px;
	}
	.header .header-nav .header-nav-item{
		float: left;
		margin-right: 20px;
	}
	.header .header-nav .header-nav-item a{
		font-size: 16px;
		color:#333;	
	}
	.header .header-nav .header-nav-item a:hover{
		color:#ff6700;	
	}
	.header .search{
		float: right;
		width: 295px;
		height: 50px;
		margin-top: 25px;
		position: relative;
	}
	.header .search:hover input,
	.header .search:hover span{
		border-color: #999;
	}
	.header .search input{
		float: left;
		width: 243px;
		height: 50px;
		outline: none;
		border: 1px solid #e0e0e0;
		box-sizing: border-box;
		border-right: none;
		padding-left: 10px;
	}
	.header .search span:hover{
		cursor: pointer;
	}
	.header .search input:focus ~ .search-list{
		display: block;
	}
	.header .search input:focus,
	.header .search input:focus ~ .search-btn{
		border-color: #ff6700;
	}
	.header .search input:focus ~ .search-hot{
		display: none;
	}
	.header .search>span:hover{
		background-color: #ff6700;
		color:#fff;
		border:none;
	}
	.header .search>span{
		float: left;
		width: 52px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		border: 1px solid #e0e0e0;
		box-sizing: border-box;
		font-size: 24px;
		color:#616161;
	}
	.header .search .search-hot{
		position: absolute;
		font-size: 12px;
		color:#757575;
		line-height: 16px;
		text-align:center;
	}
	.header .search .search-hot div:hover{
		position: relative;
		background-color: #ff6700;
		color: #fff;
	}
	.header .search .search-hot .hot-1{
		position: absolute;
		top:16px;
		left: 127px;
		float: left;
		width: 41px;
		height: 18px;
		background-color: #eee;

	}
	.header .search .search-hot .hot-2{
		position: absolute;
		top:16px;
		left: 173px;
		width: 60px;
		height: 18px;
		background-color: #eee;
	}
	.header .search .search-list{
		display: none;
		position: absolute;
		top: 50px;
		left: 0px;
		width:243px;
		z-index: 1;
		background-color: #fff;
		border: 1px solid #ff6700;
		box-sizing: border-box;
		border-top: none;
	}
	.header .search .search-list li{
		padding-left: 15px;
	}
	.header .search .search-list li:hover{
		background-color: #eee;
	}
	.header .search .search-list a{
		line-height: 24px;
		color:#333;
	}
/*header样式结束*/
/*home样式开始*/
	.home{
		/*height: 832px;*/
		background-color: green;
		padding-bottom: 42px;
	}
	.home .banner{
		height: 460px;
		position: relative;
	}
	.home .banner .cate{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 234px;
		height: 100%;
		background-color: rgba(0,0,0,0.6);
		z-index: 10;
	}
	.home .banner .cate ul{
		padding: 20px 0px;
	}
	.home .banner .cate ul li{
		height: 42px;
		padding-left: 30px;
		padding-right: 20px;
		line-height: 42px;
	}
	.home .banner .cate ul li:hover{
		background-color: #ff6700;
	}
	
	.home .banner .cate ul li a{
		font-size: 14px;
		color:#fff;
	}
	.home .banner .cate ul li a i{
		float: right;
	}
	.home .banner .carousel{
		position: relative;
		width: 1226px;
		height: 460px;
	}
	.home .banner .carousel .carousel-imgs li{
		position: absolute;
		top: 0px;
		left: 0px;
	}
	.home .banner .carousel .carousel-imgs img{
		width: 1226px;
		height: 460px;
	}
	.home .banner .carousel .btn{
		position: absolute;
		top: 230px;
		margin-top: -35px;
		width: 41px;
		height: 69px;
		line-height: 69px;
		text-align: center;
		font-size: 30px;
		color:#757575;
		cursor: pointer;
	}
	.home .banner .carousel .btn:hover{
		background-color: rgba(0,0,0,0.6);
		color:#fff;
	}
	.home .banner .carousel .left-btn{
		left: 234px;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}
	.home .banner .carousel .right-btn{
		right: 0px;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}
	.home .banner .carousel .carousel-btns{
		position: absolute;
		bottom: 25px;
		right: 35px;
	}
	.home .banner .carousel .carousel-btns li{
		float: left;
		width: 10px;
		height: 10px;
		box-sizing: border-box;
		border-radius: 50%;
		background-color: #7b8a97;
		margin-left: 10px;
		border: 2px solid #a3adb6;
	}
	.home .banner .carousel .carousel-btns li:first-child{
		background-color: #e3f4fe;
		border-color: #889298;
	}
	.home .banner .carousel .carousel-btns li:hover{
		background-color: #e3f4fe;
		border-color: #889298;
	}
	.home .hot{
		height: 170px;
		background-color: tomato;
		margin-top: 14px;
		margin-bottom: 14px;
	}
	.home .hot .hot-left{
		height: 100%;
		background-color: #5f5750;
	}
	.home .hot .hot-left li{
		width: 78px;
		height: 85px;
		box-sizing: border-box;
		float: left;
		text-align: center;
		position: relative;
	}
	.home .hot .hot-left li.shu-line:after{
		content: '';
		display: block;
		width: 1px;
		height: 70px;
		background-color: #665e57;
		position: absolute;
		top: 5px;
		right: 0px;
	}
	.home .hot .hot-left li.heng-line:before{
		content: '';
		display: block;
		width: 63px;
		height: 1px;
		background-color: #665e57;
		position: absolute;
		top: 0px;
		left: 10px;
	}
	.home .hot .hot-left li:hover a{
		color: #fff;
	}

	.home .hot .hot-left li i{
		display: block;
		font-size: 30px;
		margin-top: 20px;
	}
	.home .hot .hot-left li a{
		font-size: 10px;
	}
	.home .hot .hot-right{
		height: 100%;
		background-color: yellow;
	}
	.home .shopping{
		height: 340px;
		background-color: red;
	}
	.home .ad{
		height: 120px;
		background-color: blue;
		margin-top: 42px;
	}
/*home样式结束*/
/*main样式开始*/
	.main{
		height: 2136px;
		background-color: pink;
	}
/*main样式结束*/
/*footer样式开始*/
	.footer{
		height: 284px;
		background-color: gray;
	}
/*footer样式结束*/