/*楼层开始*/
	.floor{
		height: 538px;
		margin-bottom: 10px;
	}
	.floor .floor-hd{
		width: 100%;
		height: 70px;
		box-sizing: border-box;
		border-bottom: 1px solid #ea675a;
	}
	.floor .floor-title{
		margin-top: 22px;
		height: 30px;
		line-height: 30px;
	}
	.floor .floor-title .floor-title-num{
		display: inline-block;
		width: 24px;
		height: 24px;
		line-height: 24px;
		background: #000;
		color: #fff;
		font-size: 14px;
		text-align: center;
		border-radius: 50%;
		margin-right: 5px;
	}
	.floor .floor-title .floor-title-text{
		font-size: 16px;
		font-weight: bold;
		position: relative;
		top:2px;
	}
	.floor .tab-item-wrap{
		margin-top: 10px;
		height: 60px;
		line-height: 60px;
	}
	.floor .tab-item-wrap .tab-item{
		display: inline-block;
		margin-right: 10px;
	}
	.floor .tab-item-wrap .tab-item:hover{
		color: #ea675a;
	}
	.floor .tab-item-wrap .tab-item.tab-item-active{
		background: url(../images/floor-arrow.png) no-repeat center bottom;
		color: #ea675a;
	}
	.floor .tab-item-wrap .tab-divider{
	    width: 1px;
	    height: 20px;
	    background: #ccc;
	    margin-top: 20px;
	    margin-right: 10px;
	}
	.floor .tab-panel{
		display: none;
	}
	.floor .floor-item{
		width: 200px;
		height: 234px;
		text-align: center;
		cursor: pointer;
	}
	.floor .floor-item:hover{
		box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
	}
	.floor .floor-item .floor-item-pic{
		margin-top: 24px;
	}
	.floor .floor-item .floor-item-name{
		margin-top: 10px;
	}
	.floor .floor-item .floor-item-price{
		margin-top: 10px;
		color: #ff1414;
		font-weight: bold;
	}
	.floor .container{
		position: relative;
		z-index: 2;
	}
/*楼层结束*/