/* 头部导航开始 */
	.nav-side{
		height: 44px;
		background-color: #f3f5f7;
	}
	.nav-left{
		height: 44px;
		line-height: 44px;
	}
	.nav-left .login{
		color: #ea675a;
	}
	.nav-left li{
		margin-right: 5px;
	}
	
	.nav-side .dropdown-toggle{
		display: block;
		height: 44px;
		line-height: 44px;
		padding: 0px 5px;
		/*background-color: #fff;*/
		border-left: 1px solid #f3f5f7;
		border-right: 1px solid #f3f5f7;
	}
	.nav-side .dropdown-layer{
		background-color: #fff;
		border: 1px solid #f3f5f7;
		border-top: none;
	}
	.nav-side .menu-item{
		height: 30px;
		line-height: 30px;
		white-space: nowrap;
		padding: 0px 5px;
	}
	.nav-side .menu-item:hover{
		background-color:#f3f5f7; 
	}
	/*
	.dropdown:hover .dropdown-layer{
		display: block; 
	}
	.dropdown:hover .dropdown-toggle{
		background-color: #fff;
	}
	.dropdown:hover .dropdown-arrow{
		transform: rotate(180deg);
	}
	*/
	.nav-side .menu-active{
		background-color: #fff;
	}
	.nav-side .menu-active .dropdown-arrow{
		transform: rotate(180deg);
	}
	.nav-side .dropdown{
		margin-left: 10px;
	}
	.nav-side .dropdown-load{
		padding: 19px;
	}
/* 头部导航结束 */

/* 头部区域开始 */
	.header{
		height: 100px;
		background-color: #fff;
	}
	.header .header-logo{
		display: block;
		width: 150px;
		height: 70px;
		background-image: url(../images/header-logo.png);
		background-size: 150px;
		background-repeat: no-repeat;
		margin-top: 30px;
	}
	.header .search{
		position: relative;
		margin-left: 300px;
		margin-top: 30px;
	}
	.header .search-input{
		width: 400px;
		height: 40px;
		outline: none;
		border: 1px solid #ccc;
		padding: 0 10px;
		box-sizing: border-box;
	}
	.header .search-btn{
		width: 80px;
		height: 40px;
		background-color: #000;
		color:#fff;
		border-color: #000;
		cursor: pointer;
	}
	.header .search-layer{
		display: none;
		position: absolute;
		top: 40px;
		left: 0px;
		width: 100%;
		border: 1px solid #ccc;
		box-sizing: border-box;
		border-top: none;
	}
	.header .search-item{
		width: 100%;
		height: 30px;
		line-height: 30px;
		background-color: #fff;
		padding: 0 10px;
		box-sizing: border-box;
	}
	.header .search-item:hover{
		background-color: #f3f5f7;
	}
/* 头部区域结束 */
/*主导航开始*/
	.nav-main{
		height: 50px;
		background-color: #000;
	}
	.nav-main .link{
		display: inline-block;
		line-height: 50px;
		color:#fff;
		font-size: 14px;
		margin-right: 20px;
	}
	.nav-main .link:nth-child(1){
		margin-left: 300px;
	}
/*主导航结束*/
/* 焦点区域开始 */
	.focus{
		height: 504px;
		background: #f7f7f7;
		margin-bottom: 10px;
	}
	.category{
		position: relative;
		width: 208px;
		margin-top: -54px;
	}
	.category-title{
		display: block;
		width: 100%;
		height: 54px;
		line-height: 54px;
		background: #b1191a;
		font-size: 14px;
		color: #fff;
		padding-left: 10px;
		box-sizing: border-box;
	}
	.category-title .icon{
		margin-right: 5px;
	}
	.category .dropdown{
		position: static;
	}
	.category .dropdown-toggle{
		width: 100%;
		height: 36px;
		line-height: 36px;
		box-sizing: border-box;
		background: #ea675a;
		padding-left: 10px;
		cursor: pointer;
	}
	.category .dropdown-link{
		font-size: 14px;
		color: #fff;
	}
	.category .dropdown-icon{
		position: absolute;
		right: 10px;
		color: #fff;
		font-style: normal;
	}
	.category .dropdown-layer{
		/*display: block;*/
		top:54px;
		left:100%;
		width: 774px;
		min-height: 504px;
		background: #fff;
		padding-bottom: 24px;
		box-sizing: border-box;
		z-index: 50;
	}
	.category-details{
		overflow: hidden;
		margin-top: 24px;
		font-size: 14px;
		width: 764px;
	}
	.category-details-title{
		width: 84px;
		text-align: right;
		box-sizing: border-box;
		padding-right: 10px;
		border-right: 1px solid #ccc;
	}
	.category-details-title-link{
		font-weight: bold;
	}
	.category-details-item{
		width: 670px;
		line-height: 20px;
	}
	.category-details-item .link{
		margin-left: 10px;
		display: inline-block;
	}
	.category-active .dropdown-toggle{
		background: #ccc;
	}
	.category-active .dropdown-link,
	.category-active .dropdown-icon{
		color: #ea675a;
	}
	.category .dropdown-loading{
		display: block;
		margin: 220px auto;
	}
/* 焦点区域结束 */
/*轮播图公共样式开始*/
	.carousel-wrap{
		position: relative;
		overflow: hidden;
	}
	.carousel-wrap .carousel-item{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.carousel-wrap .btns{
		position: absolute;
		left: 50%;
		bottom: 20px;
	}
	.carousel-wrap .btn-item{
		float: left;
		width: 12px;
		height: 12px;
		background-color: rgba(0,0,0,0.8);
		border-radius: 50%;
		margin-right: 5px;
		cursor: pointer;
	}
	.carousel-wrap .btn-item.active{
		background-color: #fff;
	}
	.carousel-wrap .control{
		display: none;
		position: absolute;
		top: 50%;
		width: 30px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		background-color: rgba(0,0,0,0.8);
		font-size: 20px;
		color: #fff;
		margin-top: -30px;
		cursor: pointer;
		user-select: none;
	}
	.carousel-wrap .control-left{
		left: 0;
	}
	.carousel-wrap .control-right{
		right: 0;
	}
	.carousel-wrap.fade .carousel-item{
		display: none;
	}
	.carousel-wrap.slide .carousel-item{
		left: 100%;
	}
/*轮播图公共样式结束*/
	.focus .carousel-wrap, 
	.focus .carousel-wrap .carousel-item img {
		width: 728px;
		height: 504px;
	}
/*焦点区域侧边栏开始*/
	.focus .sidebar {
		width: 249px;
	}

	.focus-news {
		padding: 7px 20px 12px;
		background-color: #fff;
		border: 1px solid #d9dde1;
		border-bottom: none;
	}
	.focus-news-head {
		height: 38px;
		line-height: 38px;
	}
	.focus-news-title {
		color: #ea675a;
		font-size: 16px;
	}
	.focus-news-body {
		line-height: 28px;
	}
	.focus-service {
		background-color: #fff;
		border-left: 1px solid #d9dde1;
	}
	.focus-service-item {
		width: 61px;
		height: 71px;
		border-top: 1px solid #d9dde1;
		border-right: 1px solid #d9dde1;
		text-align: center;
	}
	.focus-service-icon,
	.focus-service-text {
		display: inline-block;
		width: 100%;
	}
	.focus-service-icon {
		margin-top: 17px;
		color: #f67272;
		font-size: 22px;
	}
	.focus-service-text {
		margin-top: 6px;
		color: #4d555d;
	}
	.focus-ad {
		width: 100%;
		height: 90px;
		background: url(../images/focus-ad.png) no-repeat;
	}
	.focus .slider{
		margin-left: 8px;
	}	
/*焦点区域侧边栏结束*/
/* 今日热销开始 */
	.todays{
		height: 200px;
		background-color: red;
	}
/* 今日热销结束 */

/* 楼层开始 */
	.floor{
		height: 400px;
		background-color: purple;
		margin-top: 10px;
	}
/* 楼层结束 */

